name: CI - Run tests

on:
    push:
        branches:
            - main
            - creation_test

    pull_request:
        branches:
            - main
            - creation_test

    workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install pytest
                pip install -e .

            - name: Run tests
              run: pytest -q tests
